

.avatar{
	text-align: center;
	padding-top: 10px;
}

.imgAvatar {
	width: 100px;
	height: 100px;
	border: 2px solid rgb(0,0,0);
}

.avatarUsername{
	font-size: 20px;
}

.post{
	position: relative;
	padding-top: 20px;
	font-size: 20px;
}

.postLike{
	float: left;
	color: blue;
	font-size: 13px;
}

.postDate{
	float: right;
	color: gray;
	font-size: 9px;
	margin-bottom: auto;
}

body{
	background-color: #c0deed;
}

.panel{
	border-radius: 10px;
	background: #ffffff;
	border: 1px solid transparent;
	border-color: #a19c9c;
}

.page-header{
	text-align: center;
	border-bottom: 2px solid #0084b4;
	background-color: #ffffff;
}

.page-header h1{
	color: #0084b4;
}
